<div class="row"> 
  <div class="col-md-6"> 
   h5 Berdasarkan Angkatan
   img.img-fluid(src="images/angkatan.png" alt="Demografi Angkatan")
   <div class="table-responsive">
    <table class="table">
     <thead>
      <tr>
       <th> Angkatan </th>
       <th> Jumlah </th>
      </tr>
     </thead> 
     <tbody>
      <tr>
       <td> 2015 </td>
       <td> 4 </td>
      </tr>
      <tr>
       <td> 2016 </td>
       <td> 52 </td>
      </tr>
      <tr>
       <td> 2017 </td>
       <td> 42 </td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
  <div class="col-md-6"> 
   <h5> Berdasarkan Jenis Kelamin </h5>
   <img class="img-fluid" src="images/jeniskelamin.png" alt="Demografi Jenis Kelamin">
    <div class="table-responsive">
    <table class="table">
     <thead>
      <tr>
       <th> Jenis Kelamin </th>
       <th> Jumlah </th>
      </tr>
     </thead> 
     <tbody>
      <tr>
       <td> Laki-Laki </td>
       <td> 88 </td>
      </tr>
      <tr>
       <td> Perempuan </td>
       <td> 10 </td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
</div>
<div class="col-md-12"> 
 <h5> Berdasarkan Jurusan </h5>
 <img class="img-fluid" src="images/jurusan.png" alt="Demografi Jurusan">
  <div class="table-responsive">
  <table class="table">
   <thead>
    <tr>
     <th> Jurusan</th>
     <th> Jumlah </th>
    </tr>
   </thead> 
   <tbody>
    <tr>
     <td>S1 Teknik Elektro</td>
     <td>48</td>
    </tr>
    <tr>
     <td>S1 Teknik Telekomunikasi</td>
     <td>14</td>
    </tr>
    <tr>
     <td>S1 Teknik Fisika</td>
     <td>11</td>
    </tr>
    <tr>
     <td>S1 Sistem Komputer</td>
     <td>9</td>
    </tr>
    <tr>
     <td>S1 Ilmu Komputasi</td>
     <td>5</td>
    </tr>
    <tr>
     <td>S1 Teknik Informatika</td>
     <td>4</td>
    </tr>
    <tr>
     <td>S1 Manajemen Bisnis</td>
     <td>3</td>
    </tr>
    <tr>
     <td>D3 Teknik Telekomunikasi</td>
     <td>3</td>
    </tr>
    <tr>
     <td>S1 Teknik Industri</td>
     <td>1</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>
