footer.turun
 br
 div.row
  div(class="text-center col-md-4") <i class="fa fa-copyright" aria-hidden="true"></i> APTRG 2018
  div(class="text-center col-md-4") <a href="https://www.facebook.com/APTRG/"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="https://www.instagram.com/aptrg/"> <i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://facebook.com/APTRGITTelkom"> <i class="fa fa-whatsapp" aria-hidden="true"></i></a> 
  div(class="text-center col-md-4") Build with <a href="https://github.com/noczero"> <i class="fa fa-heart" aria-hidden="true"></i></a> <small> by APTRG </small>
  