hr
br
h4 Phase 2 : Test Alat
h4 Plotting Day
h5 First Day : Thursday, 17 November 2017, 18:00:00 - 24:00:00
h5 Second Day : Friday, 18 November 2017, 18:00:00 - 23:00:00
h5 Third Day : Saturday, 19 November 2017, 09:00:00 - 23:00:00
h5 BackUp Day : Sunday, 20 November 2017, 10:00:00 - 18:00:00
h5 Location : LAB APTRG Gsg lt.2 
br
h4 Waktu plotting sampai akhir test alat tersisa : 
h1
 div(class="alert alert-danger" role="alert") 
  #phase2

h5 Silahkan plotting jadwal test alat pada kertas list jadwal yang tersedia di depan LAB APTRG dan datang pada jadwal yang sudah kamu tentukan