extends layout

block content
  div(class="container-fluid text-center")
   h1= title
   img.img-fluid(src="images/APTRG2.png" alt="aptrglogo")
   
   hr
   h4 Batas Pengumpulan Berkas 

   br
   h1
    div(class="alert alert-warning" role="alert")#cntd
   h5 Info lebih lengkap ada di 
    a(href='https://drive.google.com/drive/folders/1EXb2k3woXvEzuVlr6Z0V7s0qjL70H1hg' target='blank') Sini
   
   hr
   br
   // h4 Phase 1 : Test Tulis
   // h5 Start Day : Sunday, 12 November 2017, 08:00:00
   // h5 Location : VIP A Gsg. Lt2 
   // br
   // h1
   //  div(class="alert alert-success" role="alert") Done

   // include includes/phase2.pug
   
   hr
   br
   h4 Timeline
   img.img-fluid(src="images/timeLineoprec.png" alt="aptrglogo")

   // hr
   // br
   // h4 Demografi Rekruitasi
   // br
   // include includes/demografi.pug
   
   br
   hr
   h4 List File Submission
   br
   div.row
    for val in data
     div(class="col-md-4 col-md-offset-5")
      div(class="alert alert-success" role="alert") #{val.NIM} - #{val.nama} 
        br
        span(class="badge badge-success") Already Submit

   br

   